YELP_CONSUMER_KEY='gQlkt1NmMAIpk1VZH2Zbeg'
YELP_CONSUMER_SECRET='loRuHhyJ9L2Y7wRtERMhl2ScRos'
YELP_TOKEN='p76a7PayHIbiNo0OrOsPZ8v-NJKEvOxu'
YELP_TOKEN_SECRET='xRclWTOTk_vzGM7GI-fYK3ESyWM'
BEER_API_KEY='c098f993b1b081a1ef1aa61078ac3503'
PIN_ACCESS_TOKEN='ASJXhZC9aEOhJuWlbHn3ELJ72MR0E_dOA9gkpcpCYMHJ20AG0AAAAAA'